.back{
	margin-left:478px;
}
.bg-light{
	background-color: #b2c5e3!important;
}
.chart-title{
	color: #FFFFFF;
	font-weight: 500;
}
.nav-link{
	color: #FFFFFF;
}
.text-logo{
	margin-left: 20px;
}
.logo-img a img{
	text: center;
	margin-right: -80px;
}
.navbar-brand .logo-img{
	margin-top: 15px;
}
.dt-buttons{
	margin-left: 200px;
	margin-top: -40px;
}
.dataTables_length{
	margin-left: 25px;
}